* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    height: 10vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tudo {
    padding: 10px;
    border: 1x solid black;
}